/* border 直線 */
.verticalLine {
	border-left: 1px solid #dddddd;
	margin-left: 5px;
	margin-right: 5px;
}

/* body style */
body {
	font-size: 25px;
	font-family: "Comic Sans MS", "細明體", "Times New Roman", "Georgia", "Serif";
	padding: 40px;
/* 	height: 800px; */
	background-attachment: fixed;
	background-image: url("../img/background/background.jpg");
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* input[text] style */
input[type="text"] {
	font-size: 16px;
	height: auto;
	padding: 7px 9px;
	top: -5px;
    position: relative
}
textarea {
	font-size: 16px;
	padding: 7px 9px;
}

/* 使滑鼠移動到該原件上時顯示為手指圖案 */
.pointer {
	cursor: pointer;
	/* 文字不可選(反藍) */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */	
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */   
}

/* box 容器 */
.box {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	
	/* border: 2px solid white; */
	border: 2px solid black;
	-webkit-box-shadow: 0 3px 7px black;
	-moz-box-shadow: 0 3px 7px black;
	box-shadow: 0 3px 7px black;
}

.box:HOVER {
	color: black !important;
	background-color: white !important; 

/* 	border: 2px solid #999; */
/* 	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
/* 	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
/* 	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
}

/* 必填欄位顏色 */
.required {
	background-color: linen;
}

/* 覆寫 bootstrap .row */
.row {
	margin-right: 0px;
    margin-left: 0px;
}

.red {
	color : red
}
.blue {
	color : blue
}
.green {
	color : green
}

.even {
	background-color: #DEE3F7;
}
.odd {
	background-color: #AAFFC4;
}

/* 寬度 1200 px以上 套用以下設定 */
@media (min-width: 1200px) {
	body {
		padding-left: 20%;
		padding-right: 20%;
	}
}