<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Dependency Injection service</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resource/css/main.css">
	
	<style>
	</style>
	
</head>

<body>
    <div class="container">
		<div class="alert alert-info">Controller extend</div>

		<div class="box">
			<p><a href="/index-angular-sample.html"><i class="fa fa-arrow-left"></i></i>&nbsp;home</a></p>
		</div>

		<div class="box" ng-controller="MainCtrl">
			<h2 class="red">[MainCtrl]</h2>
			<div class="">MainCtrl title : <span class="red">{{title}}</span></div>
			<div>name : <input class="box" ng-model="name"></div>

			<div class="box" ng-controller="SecondCtrl">
				<h2 class=" green">[SecondCtrl]</h2>
				<div class="">parent title : <span class="red">{{$parent.title}}</span></div>
				<div class="">title : <span class="green">{{title}}</span></div>
				<div>name : <input class="box" ng-model="name"></div>

				<div class="box" ng-controller="ThirdCtrl">
					<h2 class=" blue">[ThirdCtrl]</h2>
					<div class="">parent parent title : <span class="red">{{$parent.$parent.title}}</span></div>
					<div class="">parent title : <span class="green">{{$parent.title}}</span></div>
					<div class="">title : <span class="blue">{{title}}</span></div>
					<div>name : <input class="box" ng-model="name"></div>
				</div> <!-- // ThirdCtrl -->
			</div> <!-- // SecondCtrl -->
		</div>
    </div>
</body>

<script src="/bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>

</html>