<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Dependency Injection service</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resource/css/main.css">
	
	<style>
	</style>
	
</head>

<body>
    <div class="container">
		<div class="alert alert-info">Dependency Injection service</div>

		<div class="box">
			<p><a href="/index-angular.html"><i class="fa fa-arrow-left"></i></i>&nbsp;home</a></p>
		</div>

		<p class="red">controller extend</p>
		<div class="box">
			<p class="blue">ng-controller="parentCtrl as parent"</p>
			<div class="box" ng-controller="parentCtrl as parent">
				<div>parent.name : <input type="text" ng-model="parent.name"><span ng-bind="parent.name"></span></div>
				
				<p class="blue">ng-controller="childCtrl as child"</p>
				<div class="box" ng-controller="childCtrl as child">
					<div>parent.name : <input type="text" ng-model="parent.name"><span ng-bind="parent.name"></span></div>
					<div>child.name : <input type="text" ng-model="child.name"><span ng-bind="child.name"></span></div>
				</div>
			</div>
		</div>
		
		<p class="red">controller $scope extend</p>
		<div class="box">
			<p class="blue">ng-controller="parentCtrl2"</p>
			<div class="box" ng-controller="parentCtrl2">
				<div>name : <input type="text" ng-model="name"><span ng-bind="name"></span></div>
				
				<p class="blue">ng-controller="childCtrl2"</p>
				<div class="box" ng-controller="childCtrl2">
					<div>extend parent name : <input type="text" ng-model="name"><span ng-bind="name"></span></div>
					<div>extend parent name : <input type="text" ng-model="name"><span ng-bind="name"></span></div>
					<div>name : <input type="text" ng-model="name2"><span ng-bind="name2"></span></div>
				</div>
			</div>
		</div>
		
		
		<p class="red">controller $scope extend</p>
		<div class="box">
			<p class="blue">ng-controller="parentCtrl3"</p>
			<div class="box" ng-controller="parentCtrl3">
				<div>name : <input type="text" ng-model="data.name"><span ng-bind="data.name"></span></div>
				
				<p class="blue">ng-controller="childCtrl3"</p>
				<div class="box" ng-controller="childCtrl3">
					<div>name : <input type="text" ng-model="data.name"><span ng-bind="data.name"></span></div>
				</div>
			</div>
		</div>
		
		
		<p class="red">controller $rootScope</p>
		<div class="box">
			<p class="blue">ng-controller="parentCtrl4"</p>
			<div class="box" ng-controller="parentCtrl4">
				<div>name : <input type="text" ng-model="data.name"><span ng-bind="data.name"></span></div>
			</div>
			<p class="blue">ng-controller="childCtrl4"</p>
			<div class="box" ng-controller="childCtrl4">
				<div>name : <input type="text" ng-model="data.name"><span ng-bind="data.name"></span></div>
			</div>
		</div>
    </div>
</body>

<script src="/resource/plugin/angular-1.4.8/js/angular.min.js"></script>
<script src="app.js"></script>

</html>