<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>sample_directive</title>
	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resource/css/main.css">
	
	<style>
		input[type="checkbox"] {
			WIDTH: 40px; HEIGHT: 40px;
		}
	</style>
	
</head>

<body>
    <div class="container">
		<div class="alert alert-info">Injection default service</div>

		<div class="box">
			<p><a href="/index-angular-sample.html"><i class="fa fa-arrow-left"></i></i>&nbsp;home</a></p>
		</div>

		<div ng-controller="myCtrl">

			<div class="box">
				<span class="btn btn-default" ng-click="sampleAjax()">sampleAjax()</span>
				<span class="btn btn-default" ng-click="sampleFilter()">sampleFilter()</span>

			</div>

		</div>
    </div>

</body>

<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="app.js"></script>

</html>